.lumennoteSidebar{
    width: 320px;
    border-right: 1px solid #ccc;
    -webkit-box-sizing: border-box;
}
header.lumennoteSidebar{
    border-bottom: 1px solid #ccc;
    padding: 8px;
}
header.lumennoteSidebar .listHeader > .bRight{
	margin-left: 10px;
}
header.lumennoteSidebar input[type="search"]{
	font-size: 16px;
	width: 100%;
    border:1px solid #a0a8ab;
}
.lumennoteSidebar ul{
	background-color: #f6f6f6;
}