.lumennoteSidebar{
    width: 300px;
	color: #fff;
	margin-left:10px;
	height: 100%;
}
.lumennoteSidebar .header{
    padding: 8px;
    font-weight: bold;
}
.lumennoteSidebar .header > .bRight{
	margin-left: 10px;
}
.lumennoteSidebar .scrollWrapper{
    border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, .7);
	background-color: rgba(0,0,0,.2);
}
.lumennoteSidebar .scrollWrapper header{
	margin: 10px;
}
.lumennoteSidebar .scrollWrapper header input[type="search"]{
	font-size: 18px;
	width: 100%;
}