@font-face {
  font-family: 'MyriadPro';
  src: url("/css/MyriadPro-Regular.otf") format('opentype');
}
@font-face {
  font-family: 'MyriadProBold';
  src: url("/css/MyriadPro-Bold.otf") format('opentype');
}

body, html, .lumennoteNotes .wrapper > * {height: 100%;}
body{
	background: #666 url(/img/bg.png);
	text-rendering: optimizeLegibility;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	color: #5C676B;
}
.lumennoteNotes > header{
	padding: 10px 20px;
}
.lumennoteNotes > header h1{
	font-size: 35px;
	text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.2) -1px -2px;
    color: #FFAD00;
    font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
}
.lumennoteNotes .wrapper{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 50px 0 0;
}

/* common stuff */
.lumennoteNotes .truncate{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* ui:button.css */
.lumennoteNotes .uiButton{
	font-weight: bold;
	font-size: 13px;
    margin: 2px;
    padding: 4px 6px;
    text-decoration:none;
    text-align:center;
    border-radius:4px;
    border:0;
    border-top:1px solid rgba(255,255,255,.45);     
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F9), to(#DDDFE1));
	text-shadow: white 0px 1px 1px;	
	-webkit-box-shadow: rgba(0, 0, 0, 0.699219) 0px 1px 3px;
}
.lumennoteNotes .uiButton:hover{
	background: #757D8A -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7F8792), to(#535B68));
    border:0;
    border-top:1px solid rgba(255,255,255,.45);     
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px;
	color: #fff;
}
.lumennoteNotes .uiButton > img{
	display: none;
}