.THIS{
    width: 300px;
	color: #fff;
	margin-left:10px;
	height: 100%;
}
.THIS .header{
    padding: 8px;
    font-weight: bold;
}
.THIS .header > .bRight{
	margin-left: 10px;
}
.THIS .scrollWrapper header{
	margin: 10px;
}
.THIS .scrollWrapper header input[type="search"]{
	font-size: 18px;
	width: 100%;
}

.THIS .writeBlogIcon{
	height: 40px;
	width:  40px;
}

.THIS .noteList_t{
	position:relative;
	right: 7%
}