.lumennoteNote{
}
.lumennoteNote > .header{
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-weight: bold;	
	font-size: 16px;
}
.lumennoteNote > .header h2{
	padding: 5px;
}/*
.lumennoteNote .tags{
	border-bottom: 1px solid #eee;
	padding: 3px 10px;
	font-size: 12px;
}
.lumennoteNote .tags .tag{
	display: inline-block;
	padding: 2px;
	margin: 2px;
	border: 1px solid #ddd;
	background-color: #eee;
	border-radius: 3px;
}
*/
.lumennoteNote .noteBody{
	padding:10px;
}
.lumennoteNote.edit input,
.lumennoteNote.edit textarea{
	-webkit-appearance: none;
	font: inherit;
	color: inherit;
	border: 1px dashed #ccc;
	border-radius: 5px;
	padding: 3px;
	background-color: transparent;
}