.lumennoteNote.content{
	height: 100%;
}
.lumennoteNote > .header{
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-weight: bold;	
	font-size: 16px;
	border-top-right-radius:  10px;
}
.lumennoteNote .noteTitle{
	margin: 8px;
	padding-right:10px;
}
.lumennoteNote > .header .bRight{
	padding: 2px;
}
.lumennoteNote .tags{
	border-bottom: 1px solid #eee;
	padding: 3px 10px;
	font-size: 12px;
}
.lumennoteNote .tags .tag{
	display: inline-block;
	padding: 2px;
	margin: 2px;
	border: 1px solid #ddd;
	background-color: #eee;
	border-radius: 3px;
}
.lumennoteNote .locationButton{
	position: relative;
}
.lumennoteNote .locationButton .icon{
	display: inline-block;
	background-image: url(/img/location.png);
	width:9px;
	height:13px;
	margin-right:5px;
}
.lumennoteNote .locationButton > div{
	display: inline-block;
}
.lumennoteNote .locationImages{
	display: none;	
	position: absolute;
	top:25px;
	right: 0;
	background-color: #fff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.699219) 0px 1px 3px;
	border-radius: 5px;
	padding: 10px;
}
.lumennoteNote .locationImages.show{
	display: block;
}
.lumennoteNote .noteBody{
	padding:10px;
}
.lumennoteNote .mask{
	background-color:transparent;
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
}
.lumennoteNote.edit input,
.lumennoteNote.edit textarea{
	-webkit-appearance: none;
	font: inherit;
	color: inherit;
	border: 1px dashed #ccc;
	border-radius: 5px;
	padding: 3px;
	background-color: transparent;
}