.lumennoteNoteEdit h2.noteTitle{
	margin: 0;
}
.lumennoteNoteEdit input,
.lumennoteNoteEdit textarea{
	-webkit-appearance: none;
	font: inherit;
	color: inherit;
	border: 1px dashed #999;
	border-radius: 5px;
	padding: 4px;
	-webkit-box-sizing: border-box;
	width: 100%;
}
.lumennoteNoteEdit input{
	margin: 3px 2px;
}
.lumennoteNoteEdit textarea{
	height:200px;
}