.lumennoteListRow{
	display: block;
	padding: 5px 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-size: 14px;
}
.lumennoteListRow .subject{
	font-weight: bold;
	margin:5px 0;
}
.lumennoteListRow .desc,
.lumennoteListRow .bRight{
	font-size: 13px;
	color: #999;
}
