.THIS{
	display: block;
	padding: 10px 15px;
    font-size: 14px;
    cursor:pointer;
    min-height: 40px;
	border-top: 1px solid rgba(0, 0, 0, .4);
	box-shadow: inset 0 1px 0 rgba(150,150,150,.5);
}
.THIS:hover{
	background-color: rgba(0,0,0,.3);
}
.THIS .subject{
	font-weight: bold;
	margin-bottom: 10px;
}
.THIS .desc,
.THIS .bRight{
	font-size: 13px;
	color: #999;
}
