.THIS > header{
	padding: 10px 20px;
}
.THIS > header h1{
	font-size: 35px;
	text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(255,255,255,0.2) 0 1px, rgba(0,0,0,0.2) -1px -2px;
    color: #FFAD00;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .wrapper{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 50px 0 0;
}
.THIS .auranoteSidebar .scrollWrapper{
    border-radius: 5px;
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, .7);
	background-color: rgba(0,0,0,.2);
}

/* common stuff */
.THIS .truncate{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}