<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Plume</display-name>

	<filter>
		<filter-name>PlumeContextFilter</filter-name>
		<filter-class>org.plumeframework.http.PlumeContextFilter</filter-class>
		<init-param>
			<param-name>componentDir</param-name>
			<param-value>/WEB-INF/components</param-value>
		</init-param>
	</filter>

	<!-- Begin Plume Servlet -->

	<filter>
		<filter-name>PlumeRewriteFilter</filter-name>
		<filter-class>org.plumeframework.http.PlumeRewriteFilter</filter-class>
	</filter>

	<filter-mapping>
		<url-pattern>*.cmp</url-pattern>
		<filter-name>PlumeRewriteFilter</filter-name>
	</filter-mapping>

	<filter-mapping>
		<url-pattern>*.app</url-pattern>
		<filter-name>PlumeRewriteFilter</filter-name>
	</filter-mapping>


	<servlet>
		<servlet-name>PlumeServlet</servlet-name>
		<servlet-class>org.plumeframework.http.PlumeServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<filter-mapping>
		<filter-name>PlumeContextFilter</filter-name>
		<url-pattern>/plume</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>PlumeServlet</servlet-name>
		<url-pattern>/plume</url-pattern>
	</servlet-mapping>


	<!-- Begin Plume ResourceServlet -->

	<filter>
		<filter-name>PlumeResourceRewriteFilter</filter-name>
		<filter-class>org.plumeframework.http.PlumeResourceRewriteFilter</filter-class>
	</filter>

	<filter-mapping>
		<url-pattern>/l/*</url-pattern>
		<filter-name>PlumeResourceRewriteFilter</filter-name>
	</filter-mapping>

	<servlet>
		<servlet-name>PlumeResourceServlet</servlet-name>
		<servlet-class>org.plumeframework.http.PlumeResourceServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<filter-mapping>
		<filter-name>PlumeContextFilter</filter-name>
		<url-pattern>/plumeResource</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>PlumeResourceServlet</servlet-name>
		<url-pattern>/plumeResource</url-pattern>
	</servlet-mapping>

	<!-- Begin Plume Framework Servlet -->
	<servlet>
		<servlet-name>PlumeFrameworkServlet</servlet-name>
		<servlet-class>org.plumeframework.http.PlumeFrameworkServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<filter>
		<filter-name>CompressingFilter</filter-name>
		<filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CompressingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>PlumeFrameworkServlet</servlet-name>
		<url-pattern>/plumeFW/*</url-pattern>
	</servlet-mapping>

</web-app>


